In [6]:
##Creating Variables
name = "Alice"
age = 16
height = 1.65
is_student = True
print("{} {} is {} tall and she is {} years old".format(is_student, name, height,age ))

True Alice is 1.65 tall and she is 16 years old

HOMEWORK1

In [8]:
Name = "Luke"
Age = 30
print("Name:", Name)
print("Age:", Age)

Name: Luke
Age: 30

HOMEWORK2

In [10]:
##Area of a Triangle
Base = 5
Height = 7
Area = 1/2 * Base * Height
print(Area)

17.5